<div class="container">
    <div class="form-group">
        <h2>Download Webpage as PDF</h2>
        <!-- Form -->
        <form class="form" (ngSubmit)="onSubmit()">
            <input type="text" id="url" name="url" placeholder="Enter URL Here.." [(ngModel)]="url" required> <button
                type="submit" [disabled]="isDownloading">Generate PDF</button>
        </form>
        <!-- Error message display -->
        <p *ngIf="error" class="error">{{ error }}</p>
        <div id="line"></div>
        <!-- loader -->
        <div class="Loading" *ngIf="isDownloading">
            <div class="loader"></div>
            <p class="loader-text">Please wait....</p>
        </div>
        <!-- download button -->
        <button type="button" (click)="downloadFile()" *ngIf="isDownloaded && !error">Download</button>
    </div>

</div>